<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nextstuffs">
        <activity
            android:name=".NextSponsorsActivity"
            android:exported="false"
            android:theme="@style/Theme.Nextstuffs" />
        <activity
            android:name=".NextDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Nextstuffs" />
        <activity
            android:name=".NextMembersActivity"
            android:exported="true" />
        <activity
            android:name=".NextCreditActivity"
            android:exported="true" />
        <activity
            android:name=".NextAboutActivity"
            android:exported="true" />
    </application>

</manifest>